html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body {
  background: linear-gradient(135deg, rgba(156, 107, 129, 1) 0%, rgba(71, 79, 89, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', sans-serif; 
  color: white;
} */

