html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, rgb(172, 255, 234) 0%, rgb(226, 122, 250) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', sans-serif; 
  color: white;
}

